img.slideshow-image
{
  width: auto;
  height: 350px;
  pointer-events: none;
}

.memory-buttons--other
{
  /***min-width:600px;
  max-width: 700px;*/
  padding-top:36px;
  padding-bottom: 16px;
}

.memory-buttons--test
{
  /****min-width:600px;
  max-width: 800px;
  min-width: 690px;*/
  width: 640px;
  height:80px;
  position:absolute;
  bottom: 16px;
  left: 50%;
  -ms-transform: translate(-50%, -5%);
  transform: translate(-50%, -5%);
}

.cpf-button
{
  width: 132px;
  text-align: center;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  color: #FFFFFF;
  padding-top: 8px;
  padding-bottom: 8px;
  opacity: 0.85;
  cursor: pointer;
}

.cpf-test-button
{
  width: 176px;
  height: 80px;
  text-align: center;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  color: #FFFFFF;
  padding-top: 8px;
  padding-bottom: 8px;
  opacity: 0.85;
  cursor: pointer;
}

.cpf-button:hover
{
  opacity: 1;
}

.cpf-button:active
{
  transform: translateY(2px);
}

.cpf-inline {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    padding-right: 0px;
}

.cpf-instructions-button {
  width: 760px;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 80px;
}

.cpf-buttons--test {
    bottom: 16px;
    height: 80px;
    left: 50%;
    width: 740px;
    position: absolute;
    -webkit-transform: translate(-50%,-5%);
    transform: translate(-50%,-5%);
}
