img.slideshow-image
{
  width: auto;
  height: 350px;
}

div.memory-buttons--other
{
  min-width:600px;
  max-width: 700px;
  padding-top:36px;
  padding-bottom: 16px;
}

div.memory-buttons--test
{
  min-width:600px;
  max-width: 800px;
  height:80px;
  position:absolute;
  bottom: 16px;
  left: 50%;
  -ms-transform: translate(-50%, -5%);
  transform: translate(-50%, -5%);
}

.cpf-button
{
  width: 132px;
  text-align: center;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  color: #FFFFFF;
  padding-top: 8px;
  padding-bottom: 8px;
  opacity: 0.85;
  cursor: pointer;
}

.cpf-button:hover
{
  opacity: 1;
}

.cpf-button:active
{
  transform: translateY(2px);
}
