.get-ready--text{
font-size: 41pt;
}

.correct--text{
font-size: 60pt;
}

img.keyboard--continue{
  height: 80px;
  width: auto;
}

.spacebar--message{
  line-height: 100px;
}

span.text-hint{
float:right;
text-align:right;
}

span.fit-content, div.fit-content{
max-width: fit-content;
}

p.text-hint{
line-height: 86px;
text-align:right;
}

img.keyboard--hint{
height:86px;
}

/***p,span{
  margin: 0;
width:100%;
font-size:18pt;
}*/

.fullWidth{
width:100%;
}


img.stimulus{
  height:222px;
  width:auto;
}

img.img--demo
{
  width:auto;
  height:120px;
      margin-left: 64px;
}

img.img--demo2{
  width:auto;
  height:108px;
      margin-left: 64px;
}

img.img-test-demo
{
  width:auto;
  height:100px;
}

div.medium--box{
  width: 600px;
  padding-top: 8px;
}

p.instruct2--text{
  width: 90px;
}

#message{
font-size:20px;
font-weight:bold;
margin-left: 65px;
margin-top:8px;
}



.text--center--vertically{
padding: 40px 0;
}


.incorrect-response--multiple
{
  padding-top: 16px;
  width:700px;
}

div.incorrect-response--multiple div{
  width: 140px;
  padding:0px;
}

div.incorrect-response--multiple div p{
  font-size: 18px;
  text-align: center;
}


div.inline.incorrect-response--multiple p {
    font-size: 18px;
    text-align: center;
}

div.inline.incorrect-response--multiple div {
    width: 140px;
    padding: 0px;
}

img.center-prac-image{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 150px;
}

.cpt-count-down
{
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

p.instructions-text--small {
  font-size: 20px;
}

.frame.cpt-trial--click {
    border: solid 2px white;
}
