.get-ready--text{
font-size: 41pt;
}

.correct--text{
font-size: 60pt;
}

img.keyboard--continue{
  height: 80px;
  width: auto;
}

.spacebar--message{
  line-height: 100px;
}

span.text-hint{
float:right;
text-align:right;
}

span.fit-content, div.fit-content{
max-width: fit-content;
}

p.text-hint{
line-height: 86px;
text-align:right;
}

img.keyboard--hint{
height:86px;
}

/***p,span{
  margin: 0;
width:100%;
font-size:18pt;
}*/

.fullWidth{
width:100%;
}


img.stimulus{
  height:222px;
  width:auto;
}

img.img--demo
{
  width:auto;
  height:120px;
      margin-left: 64px;
}

img.img--demo2{
  width:auto;
  height:108px;
      margin-left: 64px;
}

img.img-test-demo
{
  width:auto;
  height:100px;
}

div.medium--box{
  width: 600px;
  padding-top: 8px;
}

p.instruct2--text{
  width: 90px;
}

#message{
font-size:20px;
font-weight:bold;
margin-left: 65px;
margin-top:8px;
}



.text--center--vertically{
padding: 40px 0;
}


.incorrect-response--multiple
{
  padding-top: 16px;
  width:700px;
}

div.incorrect-response--multiple div{
  width: 140px;
  padding:0px;
}

div.incorrect-response--multiple div p{
  font-size: 18px;
  text-align: center;
}


div.inline.incorrect-response--multiple p {
    font-size: 18px;
    text-align: center;
}

div.inline.incorrect-response--multiple div {
    width: 140px;
    padding: 0px;
}

img.center-prac-image{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 150px;
}

.cpt-count-down
{
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

p.instructions-text--small {
  font-size: 20px;
}

.img-position-cpt-child {
  align-items: center;
  justify-content: center;
  display: flex;
}

.img-position-cpt-child-2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.img-position-cpt-child-b{
  width: 166px;
  border: 1px solid white;
  border-radius: 86px;
  padding-top: 6px;
  padding-left: 6px;
}

.cptChild--button:active{
  /*position: absolute;
  top: 420px;*/
  position: absolute;
  top: 415px;
  left: 95%;
  transform: translateX(-50%);
  width: 110px;
  height: 110px;
  color: black;
  background-color: green;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 4px white solid;
  border-radius: 60px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.cptChild--button{
  /*position: absolute;
  top: 420px;*/
  position: absolute;
  top: 420px;
  left: 95%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  color: black;
  background-color: green;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 2px white solid;
  border-radius: 60px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.cptChild--button--test:active{
  position: absolute;
  top: 465px;
  /*position: relative;
  z-index: 1;
  bottom: 5px;*/
  left: 90%;
  transform: translateX(-50%);
  width: 110px;
  height: 110px;
  color: black;
  background-color: green;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 4px white solid;
  border-radius: 60px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.cptChild--button--test{
  position: absolute;
  top: 470px;
  /*position: relative;
  z-index: 1;
  bottom: 5px;*/
  left: 90%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  color: black;
  background-color: green;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 2px white solid;
  border-radius: 60px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.cptChild--button--countdown{
  position: relative;
  z-index: 1;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  color: black;
  background-color: green;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 2px white solid;
  border-radius: 60px;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.cprChild--button--triangle{
  width: 0px;
  height: 0px;
  border: 25px white solid;
  border-color: transparent;
  border-left-color: white;
  margin-left: 40px;
}

.cprChild--button--triangle--countdown{
  width: 0px;
  height: 0px;
  border: 15px white solid;
  border-color: transparent;
  border-left-color: white;
  margin-left: 25px;
}

.cprChild--button--triangle--test{
  width: 0px;
  height: 0px;
  border: 25px white solid;
  border-color: transparent;
  border-left-color: white;
  margin-left: 40px;
}
