.discount-question{
  position: absolute;
  left: 103px;
  top: 64px;
  color: #01375B;
  font-size: 28px;
  font-weight: bold;
}

.discount-feedback {
  position: absolute;
  left: 0;
  top: 121px;
  width: 100%;
  color: #FF0000 !important;
  font-size: 24px;
  text-align: center;
}

.discount-button{
  position: absolute;
left: 153px;
width: 490px;
height: 60px;
background-color: #003366;
}

.discount-button-top{
  top: 178px;
}

.discount-or{
  position: absolute;
    left: 0;
    top: 285px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #01375B;
    font-size: 28px;
    font-weight: bold;
}

.discount-button-bottom{
  top: 377px;
}

.discount-button-text-offset{
  display: inline-block;
position: absolute;
top: 12px;
width: 235px;
color: #FFFFFF;
font-size: 24px;
font-weight: bold;
text-align: right;
}

.discount-button-text-pink{
  display: inline-block;
position: absolute;
top: 12px;
left: 245px;
width: 235px;
color: #FF66CC;
font-size: 24px;
font-weight: bold;
}
