
p.text-hint{
line-height: 86px;
text-align:right;
}


.canvas_feedback{
z-index:1000;
}

.canvas--hint
{
text-align: center;
position:absolute;
z-index:666;
bottom: -10px;
width:800px;
padding: 0;
}

#message{
font-size:20px;
font-weight:bold;
margin-left: 65px;
margin-top:8px;
}

.canvas_container{
padding: 0px;
}
