.button:active{
opacity:1;
}

div.memory-buttons--other{
  width:650px;
  padding-top:16px;
  padding-bottom: 16px;
}

div.memory-buttons--test{
  width:650px;
  /***position:absolute;
  bottom: 48px;
  left: 50%;
  -ms-transform: translate(-50%, -5%);
  transform: translate(-50%, -5%);*/
}

.memory-button{
color: #FFFFFF;
background:#003366;
border-radius:16px;
font-size: 24pt;
font-weight: bold;
padding:8px;
min-height:80px;
width:132px;
font-size: 20px;
text-align:center;
line-height: 32px;
}

.pvrt--response-button{
color: #FFFFFF;
background:#003366;
    min-width: 350px;
    height: 55px;
border-radius:16px;
    font-size: 24pt;
    font-weight: bold;
margin:8px;
}


.feedback{
text-align:center;
}

#message{
font-size:20px;
font-weight:bold;
margin-left: 65px;
margin-top:8px;
}



div.top{
  margin: 0;
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  top: 32px;
}

.stimulus--volt{
  margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.slideshow-image.svolt {
  width: 136px;
  height: auto;
}
