.get-ready--text{
  font-size: 41pt;
}

.correct--text{
  font-size: 60pt;
}

img.keyboard--continue{
  height: 100px;
  width: auto;
}

span.text-hint{
  float:right;
  text-align:right;
}

img.keyboard--hint{
  height:86px;
}

/***Test specific styles **/
.button-like{
  background-color: #009900;
  color:#FFFFFF;
  border: 2px solid white;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 16px;
  /**margin: 16px;
  padding-top: 8px;
  padding-bottom: 8px;*/
  width: 100%;

}

.handedness-button {
  width: 200px;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  border: solid 2px white;
  background: transparent;
  color: #FFFFFF;
  padding: 16px;
}

.hand_img{
  width: 350px;
  height: auto;
  margin: 0 auto;
}

.hands--demo img{
  margin: 16px;
}

.spacebar--message{
  text-align: center;
  width: 450px;
}

#message{
  font-size:20px;
  font-weight:bold;
  margin-left: 65px;
  margin-top:8px;
}

.instructions--left{
  text-align: left;
  margin: 16px;
  height:450px;
}

div.position--bottom-abosolute > div.inline{
  margin: 16px;
}

p.stop{
  color: #FF0000;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
}

p.go{
  color:#00FF00;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  opacity: 0.5;
}

table.spacebar-response--table.center--horizontal
{
  width: 648px;
}

img.keyboard--continue{
  width: 132px;
  height: auto;
}

div.handedness-trial-buttons-postion{
  position: absolute;
  width:95%;
top: 416px;
left: 50%;
transform: translateX(-50%);
}
