


img.keyboard--continue{
  height: 100px;
  width: auto;
}
div.instructions{
min-width: 700px;
}
div.inline{
display:flex;
justify-content: space-between;
}
div.flex{
  display:flex;
}


div.page
{
display:block;
width: 800px;
height:600px;
}



div.section--footer table{
  width: 100%;
  border: none;
}
div.section--footer table tbody tr td{
  width: 33%;
}
table, tr, td{
  border-collapse: collapse;
}

div.section--body
{
height:380px;
}

.light
{
   background: #FFFFFF;
   color:#000000;
}

.dark{
   background: #000000;
   color:#FFFFFF;
}

p,span{
  margin: 0;
width:100%;
font-size:18pt;
}
p, h1, h2, h3, h4, table, tr, td{
}

.light p{
color:#003366;
}
.dark p{
color:#FFFFFF;
}

.container-8-by-6
{
    width:800px;
    height: 600px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.frame{
        border: solid 2px grey;
}
.center
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.right{
float:right;
}

.position-bottom--absolute
{
position:absolute;
bottom: 15px;
min-height: 32px;
width:800px;
}

.fullWidth{
width:100%;
}
.button{
border:none;
outline:none;
opacity:0.85;
cursor: pointer;
}
.button:hover{
opacity:0.9;
cursor: pointer;;
}
.button:active{
opacity:1;
}

.footer{
text-align:center;
width:100%;
}
.footer, .footer p{
font-size:14px;
text-align:center;
}
.footer--title.row{
padding-top: 16px;
}

p.small, p.copyright{
font-size: 12px;
font-weight: bold;
padding:8px;
}

.text--left{
text-align:left;
}
.text--right{
text-align:right;
}

.text--center{
text-align:center;
}

.invisible{
display:none;
}
.green{
color: green;
}
.red{
color: red;
}
p.red, span.red{
  color:red;
}
p.green, span.green{
  color: green;
}

.center--horizontal{
	margin: 0 auto;
}

.center--relative{
	display:block;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.center--bottom{
	display:block;
  margin: 0;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -ms-transform: translate(-50%, -5%);
  transform: translate(-50%, -5%);
}

body{
  line-height: 1.3;
}
div.instructions{
  padding: 16px;
}
p{
  padding-top: 16px;
  padding-bottom: 16px;
}

.fill {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.row{
  display: flex;
  justify-content: space-between;
}

.timeline-sections.container{
  width:90%;
  transform: translateX(5%);
  display: flex;
}
table, tbody, tr, td, textarea{
  width:98%;
}
table{
  margin: 8px;
}
.edit-textarea
{
  width:100%;
}

.task-editor.timeline-editor{
  max-width:30%;
  min-width:180px;
  border-right: solid 1px;
}

.task-editor.section-editor{
  width:100%;
}

.container-800{
  width:1200px;
  margin: 0;
  position: absolute;
  top: 10px;
  left: 50%;
  -ms-transform: translate(-50%, -10px);
  transform: translate(-50%, -10px);
}

.timeline{
  width:90%;
  transform: translateX(5%);
  display: flex;
}

textarea{
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16pt;
}





/***

Admin layout style.
*/
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  display: block;
/*   display: grid;
  grid-template-columns: min-content 1fr;
  font-family: system-ui, sans-serif;

  this breaks position sticky in Firefox */
  /* overflow-x: hidden; */
  font-size: 16pt;
}

.admin-area
{
  position: absolute;
  top:0;
  left: 0;
}

.main
{
  display: flex;
  width: 100%;
  padding-top: 16px;
}

.main-content
{
  width:80%;
    min-width: 300px;
}

.test_version-editor
{
  width:90%;
  margin: 0  auto;
}

header {
     font-weight: 600;
     display: block;

     /**transform-origin: 0 0;
     transition: transform var(--duration) var(--easing), color var(--duration) var(--easing);
     transition-delay: var(--delay-out);*/
     border-radius: 4px;
     padding: 1em 1.52em;
     span {
         border: none;
         background: transparent;
         font-size: 1.5em;
         padding: 0;
         cursor: pointer;
         line-height: 1;
         float: right;
     }
}


div.header{
  background: grey;
}

nav {
    position: relative;
    width: 220px;
    z-index: 100;
  }

  li {
      margin: -4px 0 0 0;
      color: #666666;
  }

  a {
      display: block;
      text-decoration: none;
      background: #fff;
      color: #666666;
      border-radius: 4px;
      padding: 1em 1.52em;
  }

  a:hover {
            background: #efefef;
        }

        nav ul li a{
          margin: -4px 0 0 0;
          color: #666666;

        }
nav ul{
  z-index: 100;
}

.hidden{
  display: none;
}

div.submenu{
  float: right;
}

.menu-item a{
  font-size: 11pt;
}

table.trials-view td{
  width: 33%;
}

table.translation-view td{
  width: 50%;
}

table.translation-view td h4 {
  border-bottom: solid 1px black;
  padding-bottom: 16px;
}

.submenu button{
  margin: 8px;
  padding: 8px;
  background-color: #fffa;
}

.language-select{
  padding: 4px;
  background-color: #fffa;
}
